@use 'utils/colors';
:host {
	position: relative;
}
.list {
	list-style: none;
	padding: 31px;
	.list-item {
		margin-bottom: 20px;

		.link {
			text-decoration: none;
			color: colors.$white;
			padding: 8px 12px;
			border-radius: 30px;
			&.active {
				background-color: colors.$purple;
			}
		}
	}
}
.log-out-button {
	position: fixed;
	bottom: 56px;
	left: 47px;
}
