@use 'utils/colors';
:host {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.list {
	display: flex;
	flex-direction: column;
	flex: 1;
	list-style: none;
	padding: 31px;
	.list-item {
		margin-bottom: 20px;

		.link {
			text-decoration: none;
			color: colors.$white;
			padding: 8px 12px;
			border-radius: 30px;
			&.active {
				background-color: colors.$purple;
			}
		}
	}
}
.log-out-button {
	margin-top: 200px;
}
