*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0 10%;
    background: linear-gradient(rgb(87, 17, 17),black);
    color: rgb(148, 132, 132);
}
.banner{
    background:linear-gradient(rgb(110, 22, 22),rgb(51, 9, 9));
    float: left;
    border: rgb(70, 58, 58) 6px double;
    border-radius: 5px;
}
h1,form{
    float: left;
    clear: both;
    margin: 30px;
}

img{
    width: 50%;
    float: right;
}
.banner h2, .banner p{
    width: 30%;
    float: left;
    clear: left;
    margin: 20px;
}
input{
    word-wrap: break-word;
}
ul{
    float: left;
    clear: both;
    list-style: none;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
}
li{
    width: 100%;
    float: left;
    border: gray 0.5px solid;
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgb(117, 65, 41);
    border-radius: 10px;
    color: rgb(47, 14, 8);
    text-align: center;
    font-size: 20px;
}
li h5{
    margin-top: 20px;
}