<mat-card>
	<form [formGroup]="registrationFormGroup">
		<mat-form-field appearance="outline">
			<mat-label>email</mat-label>
			<input matInput placeholder="ex. Jake" formControlName="email" />
			<mat-icon matPrefix>person</mat-icon>
			<mat-error *ngIf="registrationFormGroup.get('email')?.errors?.required">email is required</mat-error>
			<mat-error *ngIf="registrationFormGroup.get('email')?.errors?.availability">email domain not accepted</mat-error>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput placeholder="ex. *********" formControlName="password" type="password" />
			<mat-icon matPrefix>lock</mat-icon>
			<mat-error *ngIf="registrationFormGroup.get('password')?.errors?.required">password is required</mat-error>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Confirm password</mat-label>
			<input matInput placeholder="ex. *********" formControlName="password_confirmation" type="password" />
			<mat-icon matPrefix>lock</mat-icon>
		</mat-form-field>
		<mat-error *ngIf="registrationFormGroup.hasError('notSame')"> Passwords do not match </mat-error>
		<button mat-raised-button (click)="onRegistration()" [disabled]="registrationFormGroup.invalid">Register</button>
	</form>
	<p>
		Already have an account?
		<a routerLink="/login">Log in</a>
	</p>
</mat-card>
