<mat-card>
	<form [formGroup]="registrationFormGroup">
		<mat-form-field appearance="outline">
			<mat-label>email</mat-label>
			<input matInput placeholder="ex. Jake" formControlName="email" />
			<mat-icon matPrefix>person</mat-icon>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput placeholder="ex. *********" formControlName="password" />
			<mat-icon matPrefix>lock</mat-icon>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Confirm password</mat-label>
			<input matInput placeholder="ex. *********" formControlName="repassword" />
			<mat-icon matPrefix>lock</mat-icon>
		</mat-form-field>
		<button mat-raised-button>Register</button>
	</form>
	<p>
		Already have an account?
		<a routerLink="/login">Log in</a>
	</p>
</mat-card>
