@use 'utils/colors';
:host {
	display: block;
	width: 100%;
	height: 100%;
}
.show-card {
	padding: 0;
	background-color: colors.$white;
	border-radius: 24px;
	overflow: hidden;
	height: 100%;
}
.image {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.info {
	padding: 10px 15px 5px;
	color: colors.$purple;
	:first-child {
		margin: 0;
		padding: 0;
	}
}
