<ng-container *ngIf="layout$ | async as layout">
	<mat-sidenav-container>
		<mat-sidenav
			class="side"
			[mode]="layout.isSmall ? 'over' : 'side'"
			[position]="layout.isSmall ? 'end' : 'start'"
			[opened]="!layout.isSmall"
			#drawer
		>
			<app-logo *ngIf="!layout.isSmall"></app-logo>
			<button *ngIf="layout.isSmall" mat-icon-button (click)="drawer.close()"><mat-icon>close</mat-icon></button>
			<app-sidenav></app-sidenav>
		</mat-sidenav>
		<mat-sidenav-content class="content">
			<header *ngIf="layout.isSmall" class="header">
				<app-logo></app-logo>

				<button mat-icon-button (click)="drawer.open()"><mat-icon>menu</mat-icon></button>
			</header>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</ng-container>
