@use 'utils/colors';

.details-card {
	padding: 0;
	border-radius: 24px;
	overflow: hidden;
	background-color: colors.$white;
	.image {
		height: 439px;
		width: 100%;
		object-fit: cover;
	}
	.info,
	.description {
		margin: 40px 0 40px 40px;
		width: 40%;
		float: left;
		color: colors.$purple;
	}
}
@media (max-width: 900px) {
	.details-card {
		padding-bottom: 24px;
		.info,
		.description {
			margin: 24px 24px 0;
			width: 80%;
			clear: both;
		}
	}
}
