img {
	width: 300px;
	float: left;
	margin-bottom: 20px;
}
p {
	width: 50%;
	float: right;
	margin: 15px;
	margin-top: 40px;
}
h3 {
	clear: left;
	margin: 20px;
}
app-rating {
	float: left;
}
mat-card {
	float: left;
	border-radius: 20px;
	margin: 20px;
}
