<div class="review">
	<div class="image-div"><img *ngIf="review.user.image_url; else noUser" [src]="review.user.image_url" alt="" /></div>
	<div class="data">
		<h4>{{ review.user.email }}</h4>
		<app-rating [averageRating]="review.rating"></app-rating>
	</div>

	<p class="comment">{{ review.comment }}</p>
	<ng-container *ngIf="review.user.email === email">
		<button (click)="delete(review)" mat-button><mat-icon>delete</mat-icon></button>
	</ng-container>
</div>
<ng-template #noUser><mat-icon>person_outline</mat-icon></ng-template>
