@use 'utils/colors';
:host {
	background-color: colors.$dark-purple;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
@media (max-width: 600px) {
	:host {
		display: block;
	}
}
