<ng-container *ngIf="templateData$ | async as template; else loading">
	<ng-container *ngIf="template.show as show">
		<app-show-details [show]="show"></app-show-details>
	</ng-container>
	<div class="review-title">
		<h4>Review</h4>
	</div>

	<div class="reviews">
		<div class="new-review">
			<app-review-form (submitReview)="onSubmitReview($event)" [rating]="rating"> </app-review-form>
		</div>
		<ng-container *ngIf="template.reviews as reviews">
			<app-review-list class="review-list" [reviews]="reviews"></app-review-list>
		</ng-container>
	</div>
</ng-container>

<ng-template #loading>
	<app-loading-spinner [style.display]="isVisible"></app-loading-spinner>
</ng-template>
<h5 style="font-size: 50px; color: crimson; margin-top: 50px">{{ errorDisplay }}</h5>
